{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
	along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{% BLOCKS }}
{{< layout }}

{{$ title }}Alternate Admin{{/ title }}

{{$ stylesheets }}
{{/ stylesheets }}

{{$ pageheader }}Alternate Admin{{/ pageheader }}

{{$ content }}
<div class="card-header">
	<h5 class="card-title mb-0">Features</h5>
</div>
<div class="card-body">
	<ul>
		<li>No dependencies that require jQuery</li>
		<li>Bootstrap 5 Admin Dashboard Template</li>
		<li>Simple Vue.js 2 CDN integration</li>
		<li>Friendly Alerts via Sweet Alert</li>
		<li>Easy installation via Composer</li>
		<li>Gravatar Profile image</li>
		<li>Integration with Mustage Engine</li>
		<li>Friendly URLs</li>
	</ul>
</div>
{{/ content }}

{{$ scripts }}
{{/ scripts }}
{{/ layout }}
